    <li>
      <a href="/auth/twitter" class="auth_provider">
        Twitter
      </a>
    </li>
    <li>
      <a href="/auth/facebook" class="auth_provider">
        Facebook
      </a>
    </li>
    <li>
      <a href="/auth/google_apps" class="auth_provider">
        Google
      </a>
    </li>
    <li>
      <a href="/identities/new" class="auth_provider">
        Create an account
      </a>
    </li>
