    <li>
      <a href="/auth/twitter" class="auth_provider">
        <%= image_tag "twitter_64.png", size: "64x64", alt: "Twitter" %> 
      </a>
    </li>
    <li>
      <a href="/auth/facebook" class="auth_provider">
        <%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %> 
      </a>
    </li>
    <li>
      <a href="/auth/google_apps" class="auth_provider">
        <%= image_tag "google_apps_64.png", size: "64x64", alt: "Google" %>
      </a>
    </li>
